In [1]:
import pandas as pd
from app_constants import raw_nerr_data

In [58]:
# Read nerr files and preproccess...

raw_nerr_data

wq_files = [e for e in raw_nerr_data.iterdir() if e.suffix == ".csv" and "wq" in e.stem]

met_files = [e for e in raw_nerr_data.iterdir() if e.suffix == ".csv" and "met" in e.stem]

nut_files = [e for e in raw_nerr_data.iterdir() if e.suffix == ".csv" and "nut" in e.stem]

sampling_stations = [e for e in raw_nerr_data.iterdir() if e.suffix == ".csv" and "sampling" in e.stem]

In [57]:
wq_cols = [
    "StationCode",
#     "isSWMP",
    "DateTimeStamp",
    "Historical",
    "ProvisionalPlus",
#     "F_Record",
    "Temp",
    "F_Temp",
    "SpCond",
    "F_SpCond",
    "Sal",
    "F_Sal",
    "DO_Pct",
    "F_DO_Pct",
    "DO_mgl",
    "F_DO_mgl",
    "Depth",
    "F_Depth",
    "cDepth",
    "F_cDepth",
#     "Level",
#     "F_Level",
#     "cLevel",
#     "F_cLevel",
    "pH",
    "F_pH",
    "Turb",
    "F_Turb",
    "ChlFluor",
    "F_ChlFluor"
]

wq_df = pd.concat((pd.read_csv(f, usecols=wq_cols) for f in wq_files))

In [72]:
met_cols = [
    'StationCode',
    # 'isSWMP',
    'DatetimeStamp',
    'Historical',
    'ProvisionalPlus',
    'Frequency',
#     'F_Record',
    'ATemp',
    'F_ATemp',
    'RH',
    'F_RH',
    'BP',
    'F_BP',
    'WSpd',
    'F_WSpd',
    'MaxWSpd',
    'F_MaxWSpd',
    'MaxWSpdT',
    'Wdir',
    'F_Wdir',
    'SDWDir',
    'F_SDWDir',
    'TotPAR',
    'F_TotPAR',
    'TotPrcp',
    'F_TotPrcp',
#     'TotSoRad',
#     'F_TotSoRad',
 ]

met_df = pd.concat((pd.read_csv(f, usecols=met_cols) for f in met_files))

met_df

,StationCode,DatetimeStamp,Historical,ProvisionalPlus,Frequency,ATemp,F_ATemp,RH,F_RH,BP,...,F_MaxWSpd,MaxWSpdT,Wdir,F_Wdir,SDWDir,F_SDWDir,TotPAR,F_TotPAR,TotPrcp,F_TotPrcp
0,jobjbmet,01/01/2001 0:15,1,1,15,23.4,<4>,NaN,<4>,1020.0,...,<4>,NaN,38.0,<4>,NaN,<4>,0.0,<4>,NaN,<4>
1,jobjbmet,01/01/2001 0:30,1,1,15,23.5,<4>,NaN,<4>,1020.0,...,<4>,NaN,46.0,<4>,NaN,<4>,0.0,<4>,NaN,<4>
2,jobjbmet,01/01/2001 0:45,1,1,15,23.5,<4>,NaN,<4>,1020.0,...,<4>,NaN,75.0,<4>,NaN,<4>,0.0,<4>,NaN,<4>
3,jobjbmet,01/01/2001 1:00,1,1,15,23.2,<4>,NaN,<4>,1020.0,...,<4>,NaN,71.0,<4>,NaN,<4>,0.0,<4>,NaN,<4>
4,jobjbmet,01/01/2001 1:00,1,1,60,23.4,<4>,NaN,<4>,1020.0,...,<4>,NaN,69.0,<4>,NaN,<4>,0.0,<4>,0.0,<4>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32642,jobjbmet,12/07/2018 0:45,0,0,15,24.5,<0>,74.0,<0>,1018.0,...,<0>,00:34,38.0,<0>,14.0,<0>,0.0,<0>,0.0,<0>
32643,jobjbmet,12/07/2018 1:00,0,0,15,24.4,<0>,74.0,<0>,1018.0,...,<0>,00:51,46.0,<0>,14.0,<0>,0.0,<0>,0.0,<0>
32644,jobjbmet,12/07/2018 1:15,0,0,15,24.4,<0>,76.0,<0>,1018.0,...,<0>,01:06,26.0,<0>,10.0,<0>,0.0,<0>,0.0,<0>
32645,jobjbmet,12/07/2018 1:30,0,0,15,24.5,<0>,75.0,<0>,1018.0,...,<0>,01:20,17.0,<0>,18.0,<0>,0.0,<0>,0.0,<0>
32646,jobjbmet,12/07/2018 1:45,0,0,15,24.2,<0>,77.0,<0>,1018.0,...,<0>,01:36,355.0,<0>,17.0,<0>,0.0,<0>,0.0,<0>

In [87]:
nut_cols = [
    'StationCode',
    # 'isSWMP',
    'DateTimeStamp',
    'Historical',
    'ProvisionalPlus',
#     'CollMethd',
#     'REP',
#     'F_Record',
    'PO4F',
    'F_PO4F',
    'NH4F',
    'F_NH4F',
    'NO2F',
    'F_NO2F',
    'NO3F',
    'F_NO3F',
    'NO23F',
    'F_NO23F',
    'CHLA_N',
    'F_CHLA_N',
]

nut_df = pd.concat((pd.read_csv(f, usecols=nut_cols) for f in nut_files))

nut_df

,StationCode,DateTimeStamp,Historical,ProvisionalPlus,PO4F,F_PO4F,NH4F,F_NH4F,NO2F,F_NO2F,NO3F,F_NO3F,NO23F,F_NO23F,CHLA_N,F_CHLA_N
0,job09nut,07/23/2002 8:50,1,1,0.0222,<4>,0.1048,<4>,0.0023,<4>,0.0098,<4> C,0.0121,<4>,NaN,<4> M
1,job09nut,07/23/2002 10:50,1,1,0.0566,<4>,0.0730,<4>,0.0018,<4>,0.0057,<4> C,0.0075,<4>,NaN,<4> M
2,job09nut,07/23/2002 12:50,1,1,0.1420,<4>,0.0913,<4>,0.0023,<4>,0.0053,<4> C,0.0076,<4>,NaN,<4> M
3,job09nut,07/23/2002 14:50,1,1,0.0098,<4>,0.0182,<4>,0.0014,<4>,0.0046,<4> C,0.0060,<4>,NaN,<4> M
4,job09nut,07/23/2002 16:50,1,1,0.0090,<4>,0.0194,<4>,0.0010,<4>,0.0047,<4> C,0.0057,<4>,NaN,<4> M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,job20nut,04/26/2017 9:16,0,1,0.0020,<-4> [SBL],0.0199,<0>,0.0016,<-4> [SBL],NaN,<-4> [SCB],0.0047,<-4> [SBL],0.30,<0>
8,job20nut,05/17/2017 8:30,0,1,0.0020,<-4> [SBL],0.0056,<-4> [SBL],0.0016,<-4> [SBL],NaN,<-4> [SCB],0.0502,<0>,0.23,<0>
9,job20nut,05/17/2017 8:31,0,1,0.0020,<-4> [SBL],0.0056,<-4> [SBL],0.0019,<1> [SRD],0.0418,<0>,0.0437,<0>,0.20,<0>
10,job20nut,06/21/2017 9:05,0,1,0.0020,<-4> [SBL],0.0129,<1> [SRD],0.0016,<-4> [SBL],0.0343,<0>,0.0359,<0>,0.55,<0>
11,job20nut,06/21/2017 9:06,0,1,0.0020,<-4> [SBL],0.0276,<1> [SRD],0.0034,<1> [SRD],0.0502,<0>,0.0536,<0>,0.51,<0>

In [83]:
stations_cols = [
#     'Row',
#     'NERR Site ID ',
    'Station Code',
    'Station Name',
#     'Lat Long',
    'Latitude ',
    ' Longitude',
    ' Status',
    ' Active Dates',
    ' State',
    ' Reserve Name',
#     'Real Time',
#     'HADS ID',
    'GMT Offset',
#     'Station Type',
#     'Region',
#     'isSWMP',
#     'Parameters Reported'
 ]

stations_df = pd.concat((pd.read_csv(f, encoding = "latin", usecols=stations_cols) for f in sampling_stations))
stations_df

,Station Code,Station Name,Latitude,Longitude,Status,Active Dates,State,Reserve Name,GMT Offset
0,acebbnut,Big Bay,32.494100,80.324100,Inactive,Feb 2002-Dec 2014,sc,Ashepoo Combahee Edisto Basin ...,-5
1,acebbwq,Big Bay,32.494100,80.324100,Inactive,Mar 1995-Dec 2014,sc,Ashepoo Combahee Edisto Basin ...,-5
2,acebpmet,Bennett's Point,32.559344,80.454558,Active,Mar 2001-,sc,Ashepoo Combahee Edisto Basin ...,-5
3,acefcnut,Fishing Creek,32.635930,80.365560,Active,Mar 2002 -,sc,Ashepoo Combahee Edisto Basin ...,-5
4,acefcwq,Fishing Creek,32.635930,80.365560,Active,Oct 2002-,sc,Ashepoo Combahee Edisto Basin ...,-5
...,...,...,...,...,...,...,...,...,...
338,wqbmpwq,Metoxit Point,41.568900,70.521600,Active,Nov 1998-,ma,Waquoit Bay ...,-5
339,wqbnbwq,North Basin,41.578800,70.523700,Inactive,Oct 1995-Dec 1997,ma,Waquoit Bay ...,-5
340,wqbnswq,North Basin Surface,41.578800,70.523700,Inactive,Jul 1996-Jul 1996; Jul 1997-Dec 1997,ma,Waquoit Bay ...,-5
341,wqbslnut,Sage Lot,41.554200,70.508400,Active,Jul 2002-,ma,Waquoit Bay ...,-5
342,wqbslwq,Sage Lot,41.554200,70.508400,Active,May 2002-,ma,Waquoit Bay ...,-5

In [71]:
all_cols = nut_df.columns.tolist()
notnull_cols = nut_df.dropna(axis=1, how="all").columns.tolist()
dropped_cols = [col for col in all_cols if col not in notnull_cols]
all_cols

['StationCode',
 'DateTimeStamp',
 'Historical',
 'ProvisionalPlus',
 'CollMethd',
 'REP',
 'PO4F',
 'F_PO4F',
 'NH4F',
 'F_NH4F',
 'NO2F',
 'F_NO2F',
 'NO3F',
 'F_NO3F',
 'NO23F',
 'F_NO23F',
 'CHLA_N',
 'F_CHLA_N']

In [ ]:
from studydata import NerrStudy