In [1]:
from datetime import datetime, timedelta

from data_load.data_load import Site

In [2]:
site = Site()
site.get_all_sites()

Creating engine for machine_learning_pr at DESKTOP-4IL536V\SQLEXPRESS

,site_id,site_name,site_type,location,latitude,longitude,source,datum,vertical_datum,gage_altitude,hole_depth,well_depth,hydrologic_unit,local_aquifer,aquifer_type,description
0,175711066143600,"PIEZOMETER JBNERR EAST 1 SALINAS, PR",Groundwater Well,123,17.951023,-66.242862,USGS,NAD83,NGVD29,4.90,75.0,74.00,21010004,110SCPL,None,None
1,175711066143601,"PIEZOMETER JBNERR EAST 2 SALINAS, PR",Groundwater Well,123,17.951020,-66.242870,USGS,NAD83,NGVD29,4.90,17.0,17.00,21010004,110SCPL,None,None
2,175721066151400,"PIEZOMETER JBNERR WEST 1 SALINAS, PR",Groundwater Well,123,17.953911,-66.253418,USGS,NAD83,NGVD29,6.90,100.0,87.00,21010004,110SCPL,None,None
3,175721066151401,"PIEZOMETER JBNERR WEST 2 SALINAS, PR",Groundwater Well,123,17.953906,-66.253412,USGS,NAD83,NGVD29,6.90,20.0,20.00,21010004,110SCPL,None,None
4,175734066233300,"ALOMAR OESTE WELL, SANTA ISABEL, PR",Groundwater Well,133,17.957800,-66.392161,USGS,NAD83,NGVD29,17.40,70.0,62.63,21010004,110SCPL,N,None
5,175829066232200,"ALOMAR 1 WELL, SANTA ISABEL, PR",Groundwater Well,133,17.972744,-66.389058,USGS,NAD83,NGVD29,39.40,112.0,NaN,21010004,110SCPL,U,None
6,175858066100200,"JUA 5 WELL, GUAYAMA, PR",Groundwater Well,57,17.980799,-66.166833,USGS,NAD83,NGVD29,128.00,173.0,142.00,21010004,110SCPL,U,None
7,175910066155500,"PIEZOMETER RASA D, SALINAS, PR",Groundwater Well,123,17.984355,-66.265223,USGS,NAD83,NGVD29,72.18,87.0,87.00,21010004,110SCPL,None,None
8,175934066364800,"CONSTANCIA 3 WELL, PONCE, PR",Groundwater Well,113,17.990911,-66.613173,USGS,NAD83,NGVD29,16.40,150.0,144.00,21010004,110SCPL,U,None
9,175943066224800,"PASO SECO 7 WELL, SANTA ISABEL, PR",Groundwater Well,133,17.993021,-66.379336,USGS,NAD83,NGVD29,89.00,NaN,100.00,21010004,110SCPL,U,None
10,175947066130601,"PIEZOMETER AGUIRRE HW 5B, SALINAS, PR",Groundwater Well,123,17.994132,-66.216001,USGS,NAD83,NGVD29,135.00,52.0,51.00,21010004,110SCPL,U,None
11,175950066354200,"RESTAURADA P8A WELL, PONCE, PR",Groundwater Well,113,17.994994,-66.594395,USGS,NAD83,NGVD29,21.96,165.0,165.00,21010004,110SCPL,U,None
12,180020066261500,"CAB 1 WELL, JUANA DIAZ, PR",Groundwater Well,75,18.003381,-66.437004,USGS,NAD83,NGVD29,65.60,338.0,71.00,21010004,110SCPL,U,None
13,180052066471000,"MER 3 WELL, GUAYANILLA, PR",Groundwater Well,59,18.012882,-66.786092,USGS,NAD83,NGVD29,13.12,180.0,NaN,21010004,110GYNL,None,None
14,180057066311300,"PIEZOMETER JAC-6, JUANA DIAZ, PR",Groundwater Well,75,18.013853,-66.519894,USGS,NAD83,NGVD29,47.00,49.0,49.00,21010004,110SCPL,None,None
15,180138066323600,"COLONES WELL, PONCE, PR",Groundwater Well,113,18.025298,-66.542950,USGS,NAD83,NGVD29,98.40,227.0,227.00,21010004,110SCPL,None,None
16,180140066542600,"ARENAS OBSERVATION WELL, SABANA GRANDE, PR",Groundwater Well,121,18.025881,-66.906760,USGS,NAD83,NGVD29,131.00,NaN,180.00,21010004,110GUNC,U,None
17,180156066434000,"LVE WELL, PENUELAS, PR",Groundwater Well,111,18.030242,-66.727397,USGS,NAD83,NGVD29,66.00,100.0,71.00,21010004,110TLLB,U,None
18,job06wq,Station 6,Water Quality,Jobos Bay,17.934986,66.227933,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,pH,Turb"
19,job09nut,Station 9,Nutrient,Jobos Bay,17.943056,66.238583,NERR,None,None,NaN,NaN,NaN,None,None,None,"PO4F,NH4F,NO2F,NO3F,NO23F,CHLA_N,DIN,PHEA,DO_N..."
20,job09wq,Station 9,Water Quality,Jobos Bay,17.943056,66.238583,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,cDepth,pH,..."
21,job10nut,Station 10,Nutrient,Jobos Bay,17.938611,66.257736,NERR,None,None,NaN,NaN,NaN,None,None,None,"PO4F,NH4F,NO2F,NO3F,NO23F,CHLA_N,DIN,PHEA,DO_N..."
22,job10wq,Station 10,Water Quality,Jobos Bay,17.938611,66.257736,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,cDepth,pH,..."
23,job11wq,Station 11,Water Quality,Jobos Bay,17.944608,66.262028,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,pH,Turb"
24,job18wq,Station 18,Water Quality,Jobos Bay,17.944433,66.231881,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,pH,Turb"
25,job19nut,Station 19,Nutrient,Jobos Bay,17.942914,66.228825,NERR,None,None,NaN,NaN,NaN,None,None,None,"PO4F,NH4F,NO2F,NO23F,CHLA_N,DIN,PHEA,NO3F,DO_N..."
26,job19wq,Station 19,Water Quality,Jobos Bay,17.942914,66.228825,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,cDepth,pH,..."
27,job20nut,Station 20,Nutrient,Jobos Bay,17.930317,66.211472,NERR,None,None,NaN,NaN,NaN,None,None,None,"PO4F,NH4F,NO2F,NO23F,CHLA_N,DIN,PHEA,NO3F,DO_N..."
28,job20wq,Station 20,Water Quality,Jobos Bay,17.930317,66.211472,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,cDepth,pH,..."
29,jobjbmet,Jobos Bay Weather,Meteorological,Jobos Bay,17.956483,66.222933,NERR,None,None,NaN,NaN,NaN,None,None,None,"ATemp,RH,BP,WSpd,MaxWSpd,MaxWSpdT,Wdir,SDWDir,..."

In [3]:
site_id = "180156066434000"

end = datetime.now()
start = end - timedelta(days=90)

site_type = "Groundwater Well"

site.find_data(site_id, start, end, site_type)

Creating engine for machine_learning_pr at DESKTOP-4IL536V\SQLEXPRESS
Loading database records...
Creating engine for machine_learning_pr at DESKTOP-4IL536V\SQLEXPRESS
Loading database records...

In [4]:
site.get_location_data()

,site_id,site_name,site_type,location,latitude,longitude,source,datum,vertical_datum,gage_altitude,hole_depth,well_depth,hydrologic_unit,local_aquifer,aquifer_type,description
0,180156066434000,"LVE WELL, PENUELAS, PR",Groundwater Well,111,18.030242,-66.727397,USGS,NAD83,NGVD29,66.0,100.0,71.0,21010004,110TLLB,U,None

In [5]:
print(f"Data for '{site.site_name}' (id:{site.site_id}) located at {site.latitude}, {site.longitude}.")

Data for 'LVE WELL, PENUELAS, PR' (id:180156066434000) located at 18.03024198, -66.72739677.

In [6]:
site.get_observation_data()

,site_id,date_time,timezone,review_stage,source,water_level_depth
0,180156066434000,2019-11-24 14:00:00,AST,Provisional,USGS,24.56
1,180156066434000,2019-11-24 15:00:00,AST,Provisional,USGS,24.57
2,180156066434000,2019-11-24 16:00:00,AST,Provisional,USGS,24.58
3,180156066434000,2019-11-24 17:00:00,AST,Provisional,USGS,24.59
4,180156066434000,2019-11-24 18:00:00,AST,Provisional,USGS,24.60
...,...,...,...,...,...,...
448,180156066434000,2019-12-13 06:00:00,AST,Provisional,USGS,25.47
449,180156066434000,2019-12-13 07:00:00,AST,Provisional,USGS,25.46
450,180156066434000,2019-12-13 08:00:00,AST,Provisional,USGS,25.44
451,180156066434000,2019-12-13 09:00:00,AST,Provisional,USGS,25.43
452,180156066434000,2019-12-13 10:00:00,AST,Provisional,USGS,25.42